#mealList{
    margin-top: 32px;
    width: 100%;
    padding: 16px;
}

#mealList > .placeholder{
    font-weight: lighter;
    color: rgba(0,0,0,0.5);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.meal {
    margin-bottom: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.meal .thumb-meal {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.meal-info {
    padding: 24px;
}

.meal-info > h2 {
    font-weight: lighter;
}

.meal-info > p {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
}